.change-password-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    width: 500px; 
}

.change-password-container > img {
    width: 75px;
}

.change-password__title {
    font-size: 2rem;
    font-weight: bold;
}

.change-password__subtitle {
    text-align: center;
    font-size: 0.9rem;
}

.change-password__input {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.change-password__input > * {
    display: flex;
    flex-direction: column;
}

.change-password__input input {
    border: 2px solid #E4E5EB;
    border-radius: 4px;
    padding: 8px 8px;
    margin-top: 4px;
    width: 300px;
}

.change-password__reset-btn {
    width: 300px;
    border: none;
    border-radius: 4px;
    background-color: #D179FF;
    padding: 6px 16px;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
