.description__container {
    display: flex;
    flex-direction: column;
}

.description__heading {
    font-size: 2rem;
}

.description__links {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
    gap: 150px;  
}

.all_links {
    display: flex;
    gap: 24px;
}

.all_links > button {
    border: none;
    background-color: #fff;
}

.all_links > button:hover {
    color: #D179FF;
    border-bottom: 2px solid #D179FF;
    cursor: pointer;
}