.images__section {
    display: flex;
    gap: 16px;
}

.images__gallery {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.images__map {
    background-color: aqua;
    width: 30vw;
    height: 100%;
}